
/Library/ScriptMapper
/Library/cache
/Library/metadata
/Library/previews
/Library/ScriptAssemblies
/Library/AnnotationManager
/Library/assetDatabase3
/Library/AssetImportState
/Library/AssetServerCacheV3
/Library/AssetVersioning.db
/Library/expandedItems
/Library/FailedAssetImports.txt
/Library/guidmapper
/2011capstone02-csharp.sln
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass.pidb
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-firstpass.pidb
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/2011capstone02.sln
/2011capstone02.userprefs
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-Editor.pidb
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-CSharp-vs
/Assembly-CSharp-Editor-vs
/Assembly-CSharp-Editor
/Assembly-CSharp
/2011capstone02-csharp
/*.csproj
/*.unityproj
/*.user
/*.suo

/2011capstone02.suo
/2011capstone02-csharp.6.0.ReSharper.user
/2011capstone02-csharp.suo
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
*.suo
*.pidb
*.csproj

/Assembly-CSharp-vs.sln
/Assembly-UnityScript.pidb
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/UpgradeLog.XML
/2011capstone02.sln
/2011capstone02-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp-vs.csproj.user
*.csproj
/obj
/Assets/Resources/Audio/Effects/Sounds/FireCackle.ogg.meta
/Builds/Standalone/YouDunnit 1.0/YouDunnit 1.0_Data/output_log.txt
/Builds/Standalone/YouDunnit 1.1/YouDunnitGoldMaster_Data/output_log.txt